<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.StarBucks.dao.BusinessDao">
	<select id="search" resultType="com.StarBucks.bean.Business">
		select * from star_business where user_name=#{user_name} and status=1
	</select>
</mapper>