<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.StarBucks.dao.Goods_TypeDao">
	<select id="FindAll" resultType="com.StarBucks.bean.Goods_Type">
		select * from goods_type
	</select>
	<select id="TypeNameById" resultType="com.StarBucks.bean.Goods_Type">
		select gt.type_id,gt.type_name from goods_type gt,star_goods sg where sg.item_id = #{GId}  and gt.type_id = sg.type
	</select>
</mapper>