#body {
	width: 1214.72px;
	margin: 10px auto;
}

.b_left {
	width: 281.18px;
	display: flex;
	flex-direction: column;
	float: left;
}

.b_right {
	width: 903.55px;
	background-color: #f8f9fa;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
	box-sizing: border-box;
	float: right;
}

.Mheader {
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	background-color: rgba(0, 0, 0, .03);
	border-bottom: 1px solid rgba(0, 0, 0, .125);
	box-sizing: border-box;
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
	text-align: center;
}

.Mbody {
	padding: 1.25rem;
	box-sizing: border-box;
	width: 901.55px;
}

.table {
	border-collapse: collapse;
	width: 860.8px;
	margin: 0 auto;
}

.table thead {
	text-align: center;
	background-color: #000000;
	color: white;
	width: 860.8px;
	height: 49.6px;
}

.table td,
.table th {
	padding: .75rem;
	vertical-align: middle;
	border-bottom: 1px solid #dee2e6;
	box-sizing: border-box;
	text-align: center;
}

.table tbody tr:hover {
	background-color: rgba(0, 0, 0, .075);
}

.xg {
	color: #007bff;
	background-color: transparent;
	border-color: #007bff;
	box-sizing: border-box;
	border: 1px solid #007bff;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	display:inline-block;
	width:58px;
	height:38px;
}

.xg:hover {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}
