#body {
	width: 1214.72px;
	margin: 10px auto;
}

.b_left {
	width: 281.18px;
	display: flex;
	flex-direction: column;
	float: left;
}

.b_right {
	width: 903.55px;
	background-color: #f8f9fa;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
	box-sizing: border-box;
	float: right;
}

.Mheader {
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	background-color: rgba(0, 0, 0, .03);
	border-bottom: 1px solid rgba(0, 0, 0, .125);
	box-sizing: border-box;
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
	text-align: center;
}

.Mbody {
	margin-top: 20px;
	padding: 20px;
	box-sizing: border-box;
	width: 901.55px;
}

.list {
	width: 891.55px;
	margin-bottom: 1rem;
}

.list label {
	width: 148.59px;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	float: left;
	padding-top: calc(.375rem + 1px);
	    padding-bottom: calc(.375rem + 1px);
}

.texta {
	width: 668.66px;
	display: inline-block;
	padding-right: 15px;
	padding-left: 15px;
	box-sizing: border-box;
}

#branchname,#branchaddr,#branchphone{
	width: 638.66px;
	height: 38px;
	box-sizing: border-box;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 38px;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}

#branchname:focus,#branchaddr:focus,#branchphone:focus{
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.btn{
	color: #fff;
	background-color: #007bff;
	border: 1px solid #007bff;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	outline: none;
}
.upd{
	float: right;
	display: inline-block;
}
.del{
	display: inline-block;
	float: left;
}
.btn:hover{
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
}